<div class="frontpage">

  <div id="navcon">
  <nav class="nav nav-pills nav-justified">
      <a class="nav-item nav-link" routerLink='mycourses'>My Courses</a>
      <a class="nav-item nav-link" routerLink='mydiet'>My Diet</a>
    </nav>
  </div>

    <!-- <div class="noclass" *ngIf="this.userService.loggeduser.courses.length==0&&this.userService.loggeduser.diet.length==0">
        <div class="noclass">
          <h1 class="jumbotron-heading">You do not have a plan!</h1>
          <p>Search the courses first!</p> -->
          <!-- <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p> -->
        <!-- </div>
      </div> -->
  </div>


<router-outlet></router-outlet>
