.container{
    margin-top:0px;
    padding-top: 20px;
    margin-bottom:0px;
    padding-bottom: 20px;
}

.alldetail{
  background-image: url("../../assets/login-back.jpg");
  background-color: #343a40;
  background-blend-mode: multiply;
  opacity:0.85;
  color: white;
  font-family: 'Jura', sans-serif;
}
.jumbotron{
  background-size:100% 100%;
}


