<div class="navigabar">
  <nav class="navbar">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-light" id="training" routerLink='/training'>TRAINING</button>
      <button type="button" class="btn btn-light" id="new" routerLink='/diet'>DIET</button>
      <button type="button" class="btn btn-danger" id="myplan" (click)="gomyplan()">MY PLAN</button>
      <button type="button" class="btn btn-light" id="bolg"routerLink='/blog'>BLOG</button>
      <button type="button" class="btn btn-light" id="equip" routerLink='/equipment'>EQUIPMENT</button>
    </div>
  </nav>
</div>
