.container{
  margin-bottom:0;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor:pointer;

}

.listcard{
  margin-top: 0;
  background-image: url("../../assets/login-back.jpg");
  background-color: #343a40;
  background-blend-mode: multiply;
  opacity:0.85;
  font-family: 'Jura', sans-serif;
}
.jumbotron{
  background-size:100% 100%;
  filter: brightness(0.5);
}

.jumbotron:hover{
  filter: brightness(1.1);
}

.display-4{
  color:white;
}

.lead{
  color: white;
}

