<div class="cards">
  <div class="card-deck">
    <div *ngFor="let category of categorylist" class="card" width="150" height="100" >
      <img class="card-img-top" src="{{category.pic}}" alt="Card image cap" routerLink='/category/{{category.name}}'>
      <div class="card-body">
        <h5 class="card-title">{{category.name}}</h5>
        <p class="card-text">To get the full effect from these workouts,
          you need to stick to the four-digit tempo code for each exercise</p>
        <a href="#" class="btn btn-dark" routerLink='/category/{{category.name}}'>See Details</a>
      </div>
    </div>

    <!-- <div class="card" width="150" height="100">
      <img class="card-img-top" src="../../../assets/home2.jpg/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Yoga</h5>
        <p class="card-text">To get the full effect from these workouts,
          you need to stick to the four-digit tempo code for each exercise</p>
        <a href="#" class="btn btn-dark">See Details</a>
      </div>
    </div>

    <div class="card" width="150" height="100">
      <img class="card-img-top" src="../../../assets/home2.jpg/" alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">Running</h5>
        <p class="card-text">To get the full effect from these workouts,
          you need to stick to the four-digit tempo code for each exercise</p>
        <a href="#" class="btn btn-dark">See Details</a>
      </div>
    </div>

    <div class="card" width="150" height="100">
      <img class="card-img-top" src="../../../assets/home2.jpg/" alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">Power</h5>
        <p class="card-text">To get the full effect from these workouts,
          you need to stick to the four-digit tempo code for each exercise</p>
        <a href="#" class="btn btn-dark">See Details</a>
      </div>
    </div>
  </div>

</div>

<div class="cards">
  <div class="card-deck">
    <div class="card" width="150" height="100">
      <img class="card-img-top" src="../../../assets/home2.jpg/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Upper Body</h5>
        <p class="card-text">To get the full effect from these workouts,
          you need to stick to the four-digit tempo code for each exercise</p>
        <a href="#" class="btn btn-dark">See Details</a>
      </div>
    </div>

    <div class="card" width="150" height="100">
      <img class="card-img-top" src="../../../assets/home2.jpg/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Yoga</h5>
        <p class="card-text">To get the full effect from these workouts,
          you need to stick to the four-digit tempo code for each exercise</p>
        <a href="#" class="btn btn-dark">See Details</a>
      </div>
    </div>

    <div class="card" width="150" height="100">
      <img class="card-img-top" src="../../../assets/home2.jpg/" alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">Running</h5>
        <p class="card-text">To get the full effect from these workouts,
          you need to stick to the four-digit tempo code for each exercise</p>
        <a href="#" class="btn btn-dark">See Details</a>
      </div>
    </div>

    <div class="card" width="150" height="100">
      <img class="card-img-top" src="../../../assets/home2.jpg/" alt="Card image cap" >
      <div class="card-body">
        <h5 class="card-title">Power</h5>
        <p class="card-text">To get the full effect from these workouts,
          you need to stick to the four-digit tempo code for each exercise</p>
        <a href="#" class="btn btn-dark">See Details</a>
      </div>
    </div> -->
  </div>

</div>




